* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px 300px;
}

/* div, section {
    border: 1px solid black;
} */

/* nav */
nav {
    height: 250px;

    display: flex;
    flex-direction: column;
}

nav > section:nth-child(1),
nav > section:nth-child(2) {
    flex-basis: 25%;

    display: flex;
}

nav > section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-t1,
.nav-t3 {
    flex-basis: 15%;

    display: flex;
    align-items: center;
}

.nav-t1 > button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 0px 5px;
}

.nav-t3 {
    justify-content: flex-end;
}

.nav-t3 > button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin: 0px 5px;
}

.nav-t2 {
    flex-basis: 70%;
}

.fs {
    border: 1px solid green;
    border-radius: 50px;
    width: 800px;

    display: flex;
    align-items: center;
}

.fs > div:nth-child(1) {
    flex-basis: 10%;
}

.fs > div:nth-child(2) {
    flex-basis: 70%;
}

.fs > div:nth-child(3) {
    flex-basis: 20%;

    display: flex;
    justify-content: flex-end;
}

#logo {
    width: 40px;
    height: 40px;
}

#search {
    border: none;
    width: 100%;
    height: 40px;
}

#search:hover {
    outline: none;
}

.fs > div:nth-child(3) > button {
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin: 0px 10px;
}

nav > section:nth-child(3) {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

nav > section:nth-child(3) > div {
    width: 800px;
    display: flex;
    justify-content: center;
}

nav > section:nth-child(3) > div > div {
    flex-basis: calc(100%/10);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav > section:nth-child(3) > div > div > button {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: transparent;
    font-size: 30px;
}

#etc {
    margin-bottom: 55px;
}

/* main */
main {
    width: 100%;
    height: 100vw;
    display: flex;
}

main > section:nth-child(1) {
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
}

.main1-1 {
    flex-basis: 5%;   
}

.main1-1 > img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.main1-2 {
    flex-basis: 25%;
    
    display: flex;
    flex-direction: column;

    border-radius: 1px solid #ddd;
    border-radius: 20px;
}

.main1-2 > div:nth-child(1),
.main1-2 > div:nth-child(4) {
    flex-basis: 10%;
}

.main1-2 > div:nth-child(2) {
    flex-basis: 30%;
}

.main1-2 > div:nth-child(3) {
    flex-basis: 50%;
}

.main1-2 > div:nth-child(1) {
    padding: 5px 5px;
}

.main1-2 > div:nth-child(1) > span > button {
    border: 1px solid red;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.main1-2 > div:nth-child(2) {
    display: flex;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ddd;
    height: 50px;
}

.main1-2-2 > div:nth-child(1) {
    flex-basis: 20%;
}

.main1-2-2 > div:nth-child(2) {
    flex-basis: 70%;
}

.main1-2-2 > div:nth-child(3) {
    flex-basis: 10%;
}

.main1-2-3 {
    display: flex;
    flex-direction: column;
}

.main1-2-3 > div {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.main1-2-3 > div > div {
    width: calc(100%/4);
    display: flex;
}

.text1,
.text2,
.text3,
.text4 {
    font-size: 15px;
    padding: 5px 5px;
}

.main1-2-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main1-2-4 > button {
    border: 1px solid #ddd;
    border-radius: 50px;
    background-color: transparent;
    font-size: 20px;
}

.main1-2-4 > button:hover {
    cursor: pointer;
}













.main1-3 {
    flex-basis: 20%;
}

.main1-4 {
    flex-basis: 50%;
}

main > section:nth-child(2) {
    flex-basis: 40%;
}