/* :only-child */
#test1 > p:only-child {
    background-color: steelblue;
}

/* :only-of-type */
#test2 > p:only-of-type {
    background-color: red;
}

/* :empty */
#test3 > p:empty {
    background-color: greenyellow;
    height: 30px;
}

/* 여러 선택자 동시 선택 */
#test4-1, #test4-2, .test4-3 {
    background-color: yellow;
    border: 3px solid black;
}

/* 특정 요소 내부에 있는 특정 클래스만 선택 */
#test5-1 .c5 {
    /* #test5-1의 후손 중 클래스가 c5인 요소를 선택 */
    background-color: aqua;
}

/* 띄어쓰기 하지 않아야 함! 
띄어쓰기 할 경우 9,10 배경색이 변경됨. */
#test5-2 > li.c5 {
    /* #test5-2의 자식 중
    클래스가 c5인 li요소만 선택 */
    background-color: tomato;
}

/* 클래스가 여러개인 요소만 선택 */
/* ~면서 ~일 때는 붙여쓰기! */
.test6.c6 {
    background-color: red;
}



