* {
    box-sizing: border-box;
    /* 콘텐츠 영역이 border까지 인식 */
}

body {
    margin: 0;
}

main {
    width: 1140px;
    margin: auto;
}

header {
    height: 200px;
    display: flex;
}

header > section:nth-of-type(1), 
header > section:nth-of-type(3) {
    flex-basis: 15%;
}

header > section:nth-last-of-type(2) {
    flex-basis: 70%;
}

/* 로고 */
header > section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-logo {
    width: 120px;
}

/* 검색 스타일 */
header > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-area {
    width: 500px;
}

.search-area fieldset {
    border: 2px solid #455ba8;
    border-radius: 5px;
    margin: 0;
    padding: 2px;

    display: flex;
}

#query {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none; /* 0 */
    outline: none; /* 0 도 가능 */
    /* outline : input 태그에 포커스가 맞춰졌을 때
        이를 표현하기 위한 바깥선
    */
    flex-basis: 92%;
}

#search-btn {
    flex-basis: 8%;
    cursor: pointer;
    /* 아이콘은 font-size로 크기 조정 */
    font-size: 1.2em;
    color: #455ba8;
    border: none;
    background-color: transparent; /* transparent : 투명 */
}

/* nav */
nav {
    height: 50px;
    border-bottom: 2px solid black;
    position: sticky;
    /* sticky : 스크롤이 임계점에 도달했을 때 화면에 스티커처럼 붙임
        - 평소에는 static (기본 position 상태)
        임계점 도달 시 fixed (화면 특정 위치 고정)

        * top, bottom, left, right 속성이 필수로 작성이 되어야 함.
        -> 임계점 도달 시 어느 위치에 부착할지 정해야하기 때문에
    */

    top: 0; /* 최상단에 붙임 */

    background-color: white;
}

/* nav > ul 스타일 */
nav > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 100%;
    display: block;

    text-align: center;
    line-height: 50px;

    border-radius: 5px;
    transition-duration: 0.2s;
}

nav li {
    flex-basis: 150px;
}

nav a:hover {
    background-color: #455ba8;
    color: white;
}

/* content */
.content {
    height: 800px;
    display: flex;
}

.content-1 { flex-basis: 70%; }
.content-2 { flex-basis: 30%; }

/* login 스타일 */

form[name="login-form"] {
    border: 3px solid black;
    height: 150px;
    padding: 10px;
    margin-top: 10px;

    display: flex;

    flex-direction: column;

    justify-content: center;
}

form[name="login-form"] > label {
    margin-top: 5px;
    font-size: 14px;

    flex-basis: 20%;
}

#id-pw-area {
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #ddd;

    flex-basis: 60%;
}

#id-pw-area > section:first-child {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}

#id-pw-area > section:last-child {
    flex-basis: 25%;
}

#id-pw-area input {
    border: 0;
    border-right: 1px solid #ddd;
    flex-basis: 50%;
    outline: none;
    padding: 5px;
}

#id-pw-area input:first-child {
    border-bottom: 1px solid #ddd;
}

#id-pw-area input:focus {
    border: 2px solid #455ba8;
}

/* 로그인 버튼 */
#id-pw-area button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

#id-pw-area button:hover {
    background-color: #455ba8;
    color: white;
}

#signup-find-area {
    flex-basis: 20%;
    margin-top: 10px;
    padding-left: 5px;
}

#signup-find-area a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

#signup-find-area > span {
    padding: 0 10px;
            /* 상하 좌우 */
}

/* footer */
footer {
    height: 200px;
    background-color: #a3add342;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-weight: bold;
}

footer > section > * {
    font-size: 14px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer span {
    padding: 0 10px;
}